doctype
html
  head
    meta(charset="utf-8")
    title
    link(rel='stylesheet', href='css/main.css')
  body
    section.container
      h1 Freshi 2.0 Framework
      h2 A simple quick start template system
      p.responsive Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit beatae velit laborum quod minima quaerat error modi magni unde atque, animi vero itaque temporibus. Ab aspernatur quam voluptatem inventore, culpa distinctio soluta!
      icon(name='ei-sc-linkedin', size='m')
      icon(name='ei-sc-facebook', size='m')
      icon(name='ei-sc-twitter', size='m')
      icon(name='ei-sc-github', size='m')
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit beatae velit laborum quod minima quaerat error modi magni unde atque, animi vero itaque temporibus. Ab aspernatur quam voluptatem inventore, culpa distinctio soluta!
