// A selection of Development helpers that will not be included in the final live build

body
  grid-overlay(blue, 2)

.container
  lost-utility clearfix
  lost-center 700px
  +above(1200px)
    lost-center 1000px

header
  lost-column 1
article
  lost-column 2/3
aside
  lost-column 1/3
