@import nib
@import typographic
// $min-font 14px

@import variables
@import mixins

// Import Evil Icons CSS file
@require 'evilicons.css'

typographic()

body
  background-color #E1E1E1
  color blue
  +below(500px)
    color green

p
  line-height 1.4em

.responsive
  font-size responsive 12px 46px



@import dev
